.CustomSection {
  .head {
    padding: 80px 0 50px 0;
    text-align: center;

    h2 {
      font-size: 80px;

      font-weight: 800;
    }
  }

  &.v_1 {
    .head {
      h2 {
        color: $color_p2;
      }
    }
  }
  &.v_2 {
    .head {
      h2 {
        color: white;
      }
    }
  }

  @include respond-below(md) {
    .head {
      h2 {
        font-size: 60px;
      }
    }
  }
}
