.c {
  background-color: $color_p1;
  border: none !important;
}

.head {
  button {
    background-color: $color_p2;
  }
}

.body {
  display: flex;
  // justify-content: space-between;
  gap: 50px;
  flex-direction: column;

  height: 100%;
  align-items: center;
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
    width: 100%;
    a {
      width: 100%;
      padding: 10px;
      font-size: 19px;
      color: $color_p2;
      &:hover,
      &.active {
        background-color: $color_p2;
        color: white;
        font-weight: 600;
      }
    }
  }
}
