.EventsSection {
  // height: 100dvh;
  background-color: $color_p3;
  padding-bottom: 50px;

  position: relative;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/svg/hreo_pattern.svg");
    background-size: 500px;
    opacity: 0.2;
    z-index: 1;
  }

  .wrap {
    position: relative;
    z-index: 10;
    .event {
      display: flex;
      max-width: 1000px;
      padding: 50px;
      margin: auto;
      gap: 50px;
      border: 5px dotted $color_p4;

      .img {
        img {
          height: 400px;
        }
      }

      h1 {
        color: $color_p4;
        font-size: 80px;
      }

      p {
        color: white;
        font-size: 30px;
      }

      span {
        color: white;
        font-size: 30px;
      }

      button {
        background-color: $color_p1;
        border: none;
        padding: 10px 20px;
      }

      &:nth-child(1) {
        border-left: none;
      }

      &:nth-child(2) {
        flex-direction: row-reverse;
        border-top: none;
        border-right: none;
        text-align: right;
      }

      &:nth-child(3) {
        border-left: none;
        border-top: none;
      }

      @include respond-below(md) {
        flex-direction: column !important;
        align-items: center;
        padding: 20px 10px;
        text-align: center !important;

        .img {
          img {
            height: 300px;
          }
        }

        h1 {
          font-size: 60px;
          font-weight: 800;
        }

        p {
          font-size: 25px;
        }

        span {
          font-size: 22px;
        }

        &:nth-child(1) {
          border-left: 5px dotted $color_p4;
        }

        &:nth-child(2) {
          border-right:  5px dotted $color_p4;
        }

        &:nth-child(3) {
          border-left: 5px dotted $color_p4;
        }
      }
    }
  }
}

